.MyInput {
    padding: 16px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1rem;
}

.MyInput:focus {
    outline: none;
}

.MyInput:focus::placeholder {
    color: transparent;
}

.error {
    border: 1px solid red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(222, 8, 8, 0.4);
}
