.myInput {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1rem;
}

.myInput:focus {
    outline: none;
}

.myInput:focus::placeholder {
    color: transparent;
}
