.wrapper {
    border: 1px solid orangered;
    padding: 20px;
    text-align: center;
}

.wrapper h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
